@import 'mixins.less';

.line-chart {
  .line {
    fill: none;
    stroke: #4682b4;
    stroke-width: 1.5px;
  }
  &.axis text {
    font: 10px sans-serif;
    fill: #666;
    pointer-events: none;
    &.black {
      fill: #000;
    }
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #4682b4;
    stroke-width: 1.5px;
  }
  body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
  }
}

.bar-chart {
  width: 100%;
  & .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    text {
      font: 10px sans-serif;
    }
  }
  & .bar {
    fill: #4682b4;
  }
}

.column-chart {
  width: 100%;
  & .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    text {
      font: 10px sans-serif;
    }
  }
  & .bar {
    fill: #4682b4;
  }
}






